.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 15px;
}

.ads-of-delivery-info{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    width: 960px;
    margin-top: 30px;
    padding: 10px 0px;
    color: rgba(0,0,0,.7);
}




